@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
$red-color:#ff2d2d;
$black-color:rgba(0,0,0,0.8);
$light-black:rgba(0,0,0,.7);
$light-black-bg:rgba(0,0,0,.5);
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}