@import 'config';

body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 80%;
    margin:0 auto;
}
.textBox{
    margin: 100px 0 70px 0;

    &__title{
        color:$black-color;
        text-transform:uppercase;
        font-size: 2rem;
    }
    &__paragraph{
        color:$light-black;
        font-size:1rem;
        max-width: 500px;

        &--mid{
            margin:20px auto;
        }
        &--left{
            margin:20px auto 20px 0;
        }
    }

    &--mid{
        text-align: center;

    }
    &--left{
        text-align: left;
    }
    &__line{
        width: 150px;
        border-bottom: 3px solid $red-color;

        &--mid{
            margin:30px auto;
        }
        &--left{
            margin:30px auto 30px 0;
        }
    }
}

.products{
    &__nav{
        display: flex;
        list-style: none;
        justify-content: space-evenly;
        margin:70px 0 30px 0;
    }
    &__item{
        text-transform: uppercase;
        color:$light-black;
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 0.3px;
        cursor: pointer;
        &--active{
            color:$red-color;
        }
        &:hover{
            color: $red-color;
        }
    }

    &__gallery{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &--hidden{
            display: none;
        }
        &__img{
            width:24%;
            background-position: center;
            background-size: cover;
            margin:10px 0;
            &:after{
                content: "";
                display: block;
                padding-bottom: 100%;
            }

            
            
            &--all{
                background-image: url('../assets/first.jpg');
            }
            &--print{
                background-image: url('../assets//second.jpg');
            }
            &--template{
                background-image: url('../assets//third.jpg');
            }
            &--ui{
                background-image: url('../assets//fourth.jpg');
            }
            &--mockup{
                background-image: url('../assets/fifth.jpg');
            }
        }
    }
}

.team{
    &__showcase{
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

        &__pic{
            width:25%;
            background-image:url('../assets/people/markWaugh.jpg') ;
            background-position: center;
            background-size: cover;
            &:after{
                content: '';
                padding-bottom: 150%;
                display: block;
            }
        }
        &__summary{
            width:68%;
    
        }
        &__gallery{
            width:100%;
            display: flex;
            height: 50%;
            justify-content: space-between;
            & .personal{
                overflow-y: hidden;
                position: relative;
                width:24%;
                background-position: center;
                background-size: cover;
                cursor: pointer;
                
                
                &__name{
                    width:100%;
                    position: absolute;
                    text-align: center;
                    vertical-align: center;
                    background-color: $light-black-bg;
                    font-size: 1rem;
                    color:#fff;
                    padding: .6rem 0;
                    text-transform: uppercase;
                    bottom: 0;
                    transform: translateY(100%);
                    transition:.3s;

                }
                &:hover .personal__name{
                    transform: translateY(0)
            }
                &:after{
                    content:'';
                    padding-bottom: 100%;
                    display: block;
                }
                &--mark{
                    background-image:url('../assets/people/markWaugh.jpg');
                }
                &--sokina{
                    background-image: url('../assets/people/sokina.jpg');
                }
                &--sawa{
                    background-image: url('../assets/people/sawa.jpg');
                }
                &--sera{
                    background-image: url('../assets/people/sera.jpg');
                }
            }
        }
    }
    

}

.personalInfo{
    height: 50%;
    &__name{
        font-weight: 600;
        color:$black-color;
        text-transform:uppercase;
        font-size: 1.5rem;
        margin-bottom:5%;
    }
    &__about{
        color:$light-black;
        font-size: 1rem;
        max-width: 600px;
        margin-bottom:5%;
        
        
    }
    &__social{
        list-style: none;
        
        display: flex;
        font-style: italic;

        &__item{
            margin-right: 10px;
            cursor: pointer;
            & a{
                text-decoration: none;
                color:$black-color;
                letter-spacing: 0.9;
                &:hover{
                    color:$red-color;
                }
            }
        }

        
    }
}

@media(max-width:1100px){
    .personalInfo{
        &__name{
            margin-bottom:1%;
        }
        &__about{
            margin-bottom:1%; 
        }

}
}
@media(max-width:800px){
    .team{
        &__showcase{
            flex-flow: column;
            &__pic{
                width:60%;
                margin:0 auto
            }
            &__summary{
                margin-top: 15px;
                width: 100%;
            }
            &__gallery{
                margin-top: 15px;
            }
        }
    }
    .personalInfo{
        &__name{
            margin-bottom:8px;
        }
        &__about{
            margin-bottom:8px; 
        }

}

    .products{
        &__item{
            font-size: 0.8rem;
        }
    }
 
}
@media (max-width:500px){
    .products{
        &__nav{
            flex-wrap: wrap;
        }
        &__item{
            margin:5px;
        }
    &__gallery{
        
        &__img{
            width:49%;
            margin:5px 0;
        }
    }
    
}


}
@media(max-width:350px){
    .products{

    &__gallery{
        
        &__img{
            margin:3px 0;
        }
    }
    
}
    
}